In [15]:
import subprocess
import os

In [16]:
cmd = ["php", "./connection.php"]
proc = subprocess.Popen(cmd, shell=True, stdout=subprocess.PIPE)

In [20]:
#sudo python3 -m pip install mysql-connector-python
import mysql.connector
from mysql.connector import Error
from mysql.connector import errorcode

connection = mysql.connector.connect(host='remotemysql.com',
                                         database='3sRxPqRiLy',
                                         user='3sRxPqRiLy',
                                         password='dhpwyt9ufA', port=3306)

DatabaseError: 2005 (HY000): Unknown MySQL server host 'remotemysql.com:3306' (2)